; ----------------------------------------------------------------
; {{ ansible_managed }}
; ----------------------------------------------------------------


{% for i in php_ini %}
[{{ i.group_name }}]
{% for c in i.conf %}
{{ c.key }} = {{ c.value }}
{% endfor %}

{% endfor %}

; vim: set ft=ini :
