#
# {{ ansible_managed }}
#

upstream redmine {
	server {{ thin.address }}:{{ thin.port }};
}

server {
	listen 80;
	server_name {{ redmine_vhost.server_name }};

	root {{ redmine_dir }}/public;
	index index.htm index.html;

	location / {
		try_files $uri $uri/ @redmine;
		location ~* \.(jpg|jpeg|gif|css|png|js|ico|txt)$ {
			proxy_pass http://redmine;
			expires 30d;
		}
	}

	location /plugin_assets/ {
		expires 30d;
		try_files $uri =404;
		alias /var/cache/redmine/default/plugin_assets/;
	}

	location @redmine {
		proxy_set_header   X-Real-IP  $remote_addr;
		proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
		proxy_set_header   Host $http_host;
		proxy_redirect     off;
		proxy_read_timeout 300;
		proxy_pass         http://redmine;
	}

	access_log off;
	error_log off;
}

# vim:filetype=nginx
