production:
  adapter: {{ redmine_database.adapter }} 
  database: {{ redmine_database.database }}
  host: {{ redmine_database.host }}
  port: {{ redmine_database.port }} 
  username: {{ redmine_database.username }}
  password: {{ redmine_database.password }}
  encoding: utf8

# vim: set ft=yaml :
